{% extends "base.html.twig" %}

{% block body %}
<h1>Detail de la session : <strong>{{session.intitule}}</strong></h1>

<a class="btn btn-primary" href="{{path("stagiaires_in_session", {id: session.id})}}">Gerer les stagiaires</a>
<a class="btn btn-primary" href="{{path("session_programme", {id: session.id})}}">Gerer les modules</a>
<hr>

<p>
    Cette session a été créé par : {{session.user.fullname}}
</p>

<p>
    Du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}}, soit {{session.sessionDuree.days * 7 }} heures <small>( basé sur 35 heures/semaine)</small>
</p>

<p>
    Dans cette formation il y a {{session.place - session.stagiaires | length}} place(s) restante(s), sur {{session.place}}. 
</p>
{% if session.stagiaires is empty %}
            <p>Il n'y a pas encore de stagiaire inscrit</p>
        {% else %}
            <p>Les stagiaires inscrits sont :</p>
            <ul>
                {% for stagiaire in session.stagiaires %}
                    <li>
                        {{stagiaire.fullname}}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}

{% if session.programmes is empty %}
        <p>
            Le programme n'est pas défini
        </p>    
    {% else %}
        <p>
            Le programme de la session est :
        </p>
        <ul>
            
            {% for programme in session.programmes %}
                <li>
                    {{programme.module.nom}}, duréé {{programme.duree}} j, ce module est dans la categorie {{programme.module.categorie.nom}}
                </li>
            {% endfor %}
        </ul>
        
{% endif %}

{% endblock %}