{% extends "base.html.twig" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
    <li class="breadcrumb-item active">Sessions</li>
{% endblock %}
{% block body %}

    <h1>Liste des formations</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Intitule</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>Place de départ</th>
                <th>Place disponible</th>
                <th>Stagiaires inscrits</th>
                <th>
                    <a href="{{path("new_session")}}">Ajouter une session</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr class="table-primary">
                    <th>
                        <a href="{{path("session", {id: session.id})}}">{{session.intitule}}</a>
                    </th>
                    <td>{{session.dateDebut | date("d/m/Y")}}</td>
                    <td>{{session.dateFin | date("d/m/Y")}}</td>
                    <td>{{session.place}}</td>
                    <td>{{session.place - session.stagiaires | length }}</td>
                    <td>{{session.stagiaires | length}}</td>
                    <td>Créé par : {{session.user.fullname}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}