{% extends "base.html.twig" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{path("sessions")}}">Sessions</a></li>
    <li class="breadcrumb-item"><a href="{{path("session", {id: session.id})}}">{{session.intitule}}</a></li>
    <li class="breadcrumb-item active">Gestion des modules</li>
{% endblock %}

{% block body %}

    <h1>Ajouter un/des module(s) </h1>
    <hr>
    {{form_start(form)}}
        <div class="btn-group">
            <input class="btn btn-success btn-lg" type="submit" value="Valider l'ajout">
        </div>

        <div class="regs list-group" data-prototype="{{ form_widget(form.programmes.vars.prototype)|e('html_attr') }}">
            {% for prgrm in form.programmes %}
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <a class='addForm btn btn-primary' href='#'>Ajout</a>
                        <a class='deleteForm btn btn-danger' href='#'>Delete</a>
                    </div>
                    <div class="card-body">
                        {{ form_widget(prgrm) }}
                    </div>
                </div>
            {% endfor %}
            </div>

    {{form_end(form)}}

{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{asset("js/collection.js")}}"></script>
<script>
    
    $(document).ready(() => {
        
        if ($(".regs").children(".card").length === 0) {
            handleAdd()
        }
        else{
            $(".addForm").on("click", () => handleAdd()) 
            $(".deleteForm").on("click", () => handleDelete())
        }  
    })

</script>
{% endblock %}