{% extends "base.html.twig" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path("sessions")}}">Sessions</a></li>
    <li class="breadcrumb-item active">Formulaire de formation</li>
{% endblock %}

{% block body %}

    <h1>Ajouter une session de formation</h1>
    <hr>

    {{form_start(form)}}

        {{form_row(form.intitule)}}

        {{form_row(form.dateDebut)}}

        {{form_row(form.dateFin)}}

        {{form_row(form.place)}}

        <input type="submit" value="Ajouter">
    {{form_end(form)}}

{% endblock %}