{% extends "base.html.twig" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path("stagiaires")}}">Stagiaires</a></li>
    <li class="breadcrumb-item active">{{stagiaire.fullName}}</li>
{% endblock %}


{% block body %}
    <h1>Detail de : <strong>{{stagiaire.fullname}}</strong></h1>

    <a class="btn btn-primary" href="{{path("edit_stagiaire", {id: stagiaire.id})}}">Modifier ce stagiaire</a>
    <a class="btn btn-danger" href="{{path("delete_stagiaire", {id: stagiaire.id})}}">Supprimer</a>
    <hr>

    <p>
        Ce stagiaire a été créé par {{stagiaire.user.fullname}}
    </p>

    <p>
        Email : <a href="mailto:{{stagiaire.email}}">{{stagiaire.email}}</a>
    </p>

    {% if stagiaire.numero %}
            <p>
                Numero de telephone : {{stagiaire.numero}}
            </p>
        {% else %}
            <p>Numero de téléphone non communiqué</p>
    {% endif %}
    {% if stagiaire.adresse and stagiaire.codePostal and stagiaire.ville %}
            <p>
                Adresse : {{stagiaire.adresse}}, {{stagiaire.codePostal}} {{stagiaire.ville | upper}}
            </p>
        {% else %}
            <p>Adresse non communiqué</p>
    {% endif %}

    {% if stagiaire.inscription is empty %}
                <p>Ce stagiaire ne participe à aucune formation</p>
            {% else %}
                <p>Ce stagiaire est inscrit dans {{stagiaire.inscription | length }} formation(s) : </p>
                <ul>
                    {% for formation in stagiaire.inscription %}
                        <li>
                            <a href="{{path("session", {id: formation.id})}}">
                                <strong>{{formation.intitule}}</strong>
                            </a>
                             
                            <ul>
                                <li>
                                    du {{formation.dateDebut | date("d/m/Y")}}
                                </li>
                                <li>
                                    au {{formation.dateFin | date("d/m/Y")}}
                                </li>
                            </ul>  
                        </li>
                    {% endfor %}
                </ul>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{parent()}}
<script>
    $(".btn-danger").confirm({
        title: 'Confirmation',
        content: 'Valider la suppression',
        theme: 'supervan',
        buttons: {  
            ok: {
                text: "Continuer",
                action: function(){
                    location.href = this.$target.attr('href');
                }
            },
            cancel: {
                text: "Retour",
                action:  function(){
                    console.log('the user clicked cancel');
                }
            }
    }
    })
</script>
{% endblock %}