{% extends "base.html.twig" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path("stagiaires")}}">Stagiaires</a></li>
    <li class="breadcrumb-item active">Formulaire Stagiaire</li>
{% endblock %}

{% block body %}

{% if edit %}
    <h1>Modifier le stagiaire</h1>
{% else %}
    <h1>Ajout d'un stagiaire</h1>
{% endif %}


{{form_start(form)}}

    <div class="form-group">
        {{form_row(form.nom)}}
    </div>

    <div class="form-group">
        {{form_row(form.prenom)}}
    </div>

    <div class="form-group">
        {{form_row(form.email)}}
    </div>

    <div class="form-group">
        {{form_row(form.numero)}}
    </div>

    <div class="form-group">
        {{form_row(form.adresse)}}
    </div>

    <div class="form-group">
        {{form_row(form.codePostal)}}
    </div>

    <div class="form-group">
        {{form_row(form.ville)}}
    </div>

    
    {% if edit %}
            <input class="btn btn-success" type="submit" value="modifier">
        {% else %}
            <input class="btn btn-success" type="submit" value="Ajouter">
    {% endif %}
    
{{form_end(form)}}

{% endblock %}