{% extends 'base.html.twig' %}


{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Accueil</a></li>
    <li class="breadcrumb-item active">Categories de modules</li>
{% endblock %}

{% block body %}

<h1>Categories de modules</h1>

<a class="btn btn-primary" href="{{path("new_categorie")}}">Ajouter une categorie</a>
<a class="btn btn-primary" href="{{path("new_module")}}">Ajouter un module</a>

<hr>

<div class="d-flex">
    {% for categorie in categories %}
        <div class="card border-primary mb-3">
            <div class="card-header">
                <small>ajouté par : {{categorie.user.fullname}}</small>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{path("modules_in_categorie", {id: categorie.id})}}">{{categorie.nom}}</a>
                </h4>
                <a class="btn btn-secondary" href="{{path("edit_categorie", {id: categorie.id})}}">modifier</a>
                <a class="btn btn-danger" href="{{path("delete_categorie", {id: categorie.id})}}">supprimer</a>
            </div>
        </div>    
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    $(".btn-danger").confirm({
        title: 'Confirmation',
        content: 'Valider la suppression',
        theme: 'supervan',
        type: 'green',
        buttons: {  
            ok: {
                text: "Continuer",
                action: function(){
                    location.href = this.$target.attr('href');
                }
            },
            cancel: {
                text: "Retour",
                action:  function(){
                    console.log('the user clicked cancel');
                }
            }
    }
    })
</script>
{% endblock %}