{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path("profile")}}">Profil</a></li>
    <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block body %}
<h1>Liste des users</h1>
<a class="btn btn-primary" href="{{path("app_register")}}">Créé un utilisateur</a>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th>
                    <a href="{{path("user_detail", {id: user.id})}}">{{user.nom ~" "~ user.prenom }}</a>
                </th>
                <td>{{user.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
