{% extends 'base.html.twig' %}


{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{path("profile")}}">Profil</a></li>
    <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block body %}
    <h1>Liste des users</h1>
   
    <table id="small-table" class="table table-responsive">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>
                 <a href="{{path("app_register")}}">Créé un utilisateur</a>
            </th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th>
                        <a href="{{path("user_detail", {id: user.id})}}">{{user.nom ~" "~ user.prenom }}</a>
                    </th>
                    <td>{{user.email}}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
